<!--This code was adapted from the 5CCS2SEG project Chess Club-->

<nav class="navbar navbar-expand-lg navbar-dark mb-3" style="background-color: #320064;">
    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">
            <span class="fas fa-solid fa-language"></span>&nbsp;&nbsp;Translate
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="user_account_dropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <span class="bi-person-circle"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user_account_dropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' user.id %}">View profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
